.about-us {
  background-color: #fcfaef;

  &__container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);

    --columns: 2;

    padding-bottom: 48px;

    @include on-tablet {
      --columns: 6;

      column-gap: 24px;
      padding-top: 120px;
      padding-bottom: 120px;
    }

    @include on-desktop {
      --columns: 12;

      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  &__photo {
    width: 100%;
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      object-fit: cover;
      overflow: hidden;
      height: 460px;
      position: relative;
      grid-column: span 12;
    }
  }

  &__title {
    margin: 0;
    grid-column: 1 / -1;
    margin-bottom: 24px;

    @include on-tablet {
      grid-column: 1 / 4;
      margin-bottom: 0;
    }

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__content {
    margin: 0;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 8 / -1;
    }
  }
}
